# Ignorar los módulos de Node
node_modules/

Chalet_Bodas_02.gltf
FincaLowPoly.glb

# Ignorar los archivos de configuración de VS Code
.vscode/

# Ignorar los archivos de registro de Node
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignorar el archivo .env que puede contener variables de entorno sensibles
.env

# Ignorar los archivos de caché de MacOS
.DS_Store